/* REGOLE RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* REGOLE H1 */
#app {
    position: relative;
}

.red {
    color: red;
}

.margin {
    margin: 1rem;
}

.padding {
    padding: 1rem;
}

.text {
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
}


.transform {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

